* {
box-sizing: border-box;
font-family: 'Yanone Kaffeesatz', sans-serif;
}

html, body {
margin: 0;
height:100%;
}

.header {
padding: 1px;
background: limegreen;
border-bottom-style: solid;
border-width: 0px;
height:15%;
}

.middle_row {
display: flex;
flex-wrap: wrap;
font-size: 90px;
align-items: stretch;
height:75%;
}

.left_side {
flex: 15%;
background-color: forestgreen;
padding: 20px;
}
/* Main column */
.middle {
display: flex;
justify-content: center;
align-items: center;
flex: 70%;
background-color: palegreen;
padding: 20px;
}

.right_side {
flex: 15%;
background-color: forestgreen;
padding: 20px;
}
.footer {
font-family: 'Yanone Kaffeesatz', sans-serif;
padding: 30px;
text-align: center;
background: limegreen;
color: white;
font-size:1.5em;
height:10%;
border-top-style: solid;
border-width: 0px;
border-color: black;
}

h1.title {
font-size:3em;
text-align: center;
margin-bottom: 0px;
color: white;
}

h1.sub_title {
font-size:1.5em;
text-align: center;
margin-top: 0px;
color: white;
}

a {
text-decoration: none;
}
