
* {
box-sizing: border-box;
margin: 0;
-webkit-font-smoothing: antialiased;
}

a {
text-decoration: none;
color: white;
}

a:visited {
  text-decoration: none;
}

.header {
display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
height: 115px;
top: 0;
width: 100%;
color: white;
background-color: #696969;
position: sticky;
padding: 20px;

}

.ad_space {
height: 100px;
background-color: #808080;
color: red;
top: 115px;
position: sticky;
text-align: center;
padding: 30px;
overflow: block;
}

.content {
display: inline-block;
text-align: center;
top: 215px;
height: calc(100vh - 215px - 80px);
font-size: 25px;
padding-top: 10%;
padding-left: 20%;
padding-right: 20%;
overflow: auto;
width: 100%;
background-color: #808080;
color: white;
}

.footer {
display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
height: 80px;
width: 100%;
background-color: #696969;
position: fixed;
bottom: 0;
text-align: center;
color: white;
}

h1 {
font-family: 'Dosis', sans-serif;
font-weight: 800 !important;
}

h2 {
font-family: 'Dosis', sans-serif;
font-weight: 400 !important;
}
